#bottomf {
    bottom:0;
    position: fixed;
    width: 100%;
    margin-bottom: 0;  
}

:root {
    --c0: #000000;
    --c1: #032107;
    --c4: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

@font-face {
    font-family: beyondWonderland;
    src:url("beyond_wonderland.ttf");
}

.heading {
    font-family: 'beyondWonderland';
    color: var(--c4);
    font-size: 135px;
    font-weight: 100;
}

.subtitle {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--c4);
    font-size: 30px;
    font-weight: 400;
}

.middle {
  position: absolute;
  margin: 0;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);    
}

.navbar li{
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 15px;
    float: left;
    
    width: 15%;

    border: 0px solid white;
}

.navbar li a {
    display: block;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ffffff;
    border: 5px;
    border-color: white;
}

body {
    background-color: var(--c0);
    
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--c4);

    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 */

    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.bgover {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 100%;
    width: 100%;

    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

