@page {
  size:A4;
}

.printable {
  display:block;
 
}
  
@media print {
  .non-printable {
    display:none;
  }
  
  .section {
    page-break-after: always; 
  }

  .printable {
    
  }
}

table {
  border-collapse: collapse;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}  
    
td {
  margin:30px;
  padding:27px;
  padding-bottom: 47px;
  
}

td:nth-child(1){
  color:grey;
}
  
.simpleCal {
  display:inline-block;
  padding:0;
}

html{
  height:297mm;
  width:210mm;
  margin:0;
  padding:0;
}

body {
  height:297mm;
  width:210mm;
  margin:0;
  padding:0;
  text-align:center;
  
}

.simpleCalHead {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
}

.dayNames {
  font-family: 'Marck Script', cursive;
  font-size: 40px;
  padding-bottom:0px;
  
  box-shadow: 0px -5px 0px -1px black;
}